/*
@css_name: index
@description: The past cannot be redeemed, the future can be changed.
@author: Jason Black
@create: 2023/8/13 11:10:40
*/


.container{
    height: 97vh;
    width: 100%;
    background-color: wheat;
    background-size: cover;
}






















